<h1>Sessions#new</h1>
<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <input name="name" placeholder="Enter a name here" type="text" id="name">
  <input type="submit" value='login'>
<% end %>
